* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.nav {
    justify-content: space-evenly;
    color: white;
    align-items: center;
    display: flex;
    height: 88px;
    background-color: #131921;
}

.ama img {
    height: 100px;
    margin-top: 5px;
}

.th i {
    font-size: 1.6rem;
}

.th p {
    font-size: 0.95rem;
    margin-left: 20px;
}

.th h4 {
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
}

.in {
    margin-left: 4px;
}

.border {
    border: 2px solid transparent;

}

.border:hover {
    border: 2px solid white;
}


.select {
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid #f3f3f3;
    text-align: center;
    width: 65px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
}

.navsearch {
    display: flex;
    margin-left: 5px;
    justify-content: space-evenly;
    border-radius: 4px;
    height: 55px;

}

.input {
    padding-left: 10px;
    font-size: 1.2rem;
    border: none;
    width: 600px;
}

.search {
    color: black;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background-color: rgb(243, 163, 14);
    width: 58px;
}

.flg {
    display: flex;
    align-items: center;
}

.hls {
    font-size: 0.85rem;
}


.cart {
    display: flex;
    align-items: center;

}

.cart i {
    font-size: 38px
}

.navbar {
    font-size: 1.1rem;
    height: 55px;
    border: border-box;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    color: white;
}

.tcr {

    display: flex;
    width: 70%;
}

.sde {
    font-weight: 600;
}

.al {
    margin-left: 30px;
}

.al i {
    font-size: 18px;
}

.gp {
    margin-left: 1.2rem;
    font-size: 1.1rem;
}

.bac-cover {
    position: relative;
    background-image: url("61CiqVTRBEL._SX3000_.jpg");
    height: 650px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: none;
}

.img-txt {
    margin-bottom: 230px;
    width: 97%;
    font-size: 19px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.img-txt a {
    color: blue;
}

.cmp-1 {

    color: black;
    margin-bottom: 20px;
    height: 450px;
    width: 23%;

    background-color: white;
}


.ga {
    padding-left: 10px;
    font-weight: 650;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.cmpe-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.cmp-1 img {
    height: 120px;
    width: 150px;
    margin-top: 12px;
}

.cmpe-1 p {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmp-3 {
    color: black;
    margin-bottom: 20px;
    height: 450px;
    width: 24%;
    margin-top: 50px;
    background-color: white;
}


.ga {
    padding-left: 15px;
    font-weight: 650;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.cmpe-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.cmp-3 img {
    height: 120px;
    width: 150px;
    margin-top: 12px;
}

.cmpe-3 p {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cmpe p {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main {
    position: relative;
    margin-top: -200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center
}

.cmp-2 {

    color: black;
    margin-bottom: 20px;
    height: 450px;
    width: 23%;

    background-color: white;
}

.fuji img {
    height: 250px;
    background-image: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.slide {
    height: 200px;
    width: 97%;
}

.slide img {
    height: 200px;
}

.slide6 {
    padding: 10px;
    height: 200px;
    width: 100%;
    align-items: center;
}

.slide6 img {
    height: 200px;
    margin-left: 10px;
}

.bottom {
    height: 55vh;
    width: 100%;
    background-color: #f3f3f3;
}

.bottom-lin hr {
    margin-top: 60px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.content-con {
    width: 80%;
    text-align: center;
    background: #f3f3f3;
}

.content-con button {
    background-color: rgb(243, 163, 14);

    width: 18%;
    height: 20px;
    border: 1px solid #ffe093;
    border-radius: 5px;
    transition: .5s;
}

.content-con button:hover {
    background: #ffe093;

}

.content-con h5 {
    font-size: 12px;
    margin-bottom: 10px;
}

.content-con h6 {
    margin-top: 10px;
}

.top {
    height: 60px;
    width: 100%;
    background-color: #244064;
    display: flex;
    align-items: center;

}

.top button {
    width: 1809%;
    height: 60px;
    border: none;
    color: whitesmoke;
    background: transparent;
}

footer {
    background: #232f3e;
    color: white;
}

.main-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    padding: 5% 11%;
}

section h5 {
    font-weight: 500;
    margin-bottom: 10px;
}
.press{
    max-width: 350px;
    height: 200px;
}
